@import '../../node_modules/spectre.css/src/_variables.scss';


@import '../../node_modules/spectre.css/src/spectre.scss';
html,body{
  margin: 0;
  height: 100%;
}
.navbar-defualt{
  padding: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.hero{
  height: 100vh;
  width:100%;  
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  h1{
    font-size: 6rem;
  }
}